{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>R_Manager - {% block title %}{% endblock title %}</title>

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <!-- Fontawesome Free -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <!-- Custum stylesheets -->
    <link rel="stylesheet" href="{% static 'rmanager/css/update_task_status.css' %}">
    {% block styles %}{% endblock styles %}
</head>
<body>
{% block navbar %}
<div class="mynavbar">
<nav class="navbar sticky-top navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}"><i class="fas fa-home"></i> Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="{% url 'luncher' %}"><i class="fas fa-rocket"></i> Lunch a Task</a>
        <a class="nav-link" href="{% url 'api:tasks' %}"><i class="fas fa-list"></i> Tasks</a>
        <a class="nav-link" href="{% url 'api:home' %}" target="_blank"><i class="fas fa-code"></i> Api</a>
      </div>
    </div>
  </div>
</nav>
</div>
{% endblock navbar %}
<div class="container-fluid">
  <div>
    {% if messages %}
      <ul class="messages list-group">
        {% for message in messages %}
          <li{% if message.tags %} class="list-group-item list-group-item-{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
<div>
    {% block content %}Content to be overwritten.{% endblock content %}
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
<!-- Custum scripts -->
{% block scripts %}{% endblock scripts %}
</body>
</html>